* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-image: linear-gradient(110deg, #2b2a2a, black);
  color: white;
  font-family: "Poppins",sans-serif;
  min-height: 100vh;
}

.color {
  background: black;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
  outline: none;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
}

header h1 {
  font-weight: 400;
  color: white;
}

header .fa-check-double {
  font-size: 36px;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

form input, form button {
  padding: 0.5rem;
  font-size: 2rem;
  height: 8vh;
  border: none;
  background: white;
  outline: none;
}

form input::-webkit-input-placeholder, form button::-webkit-input-placeholder {
  color: lightgray;
}

form input:-ms-input-placeholder, form button:-ms-input-placeholder {
  color: lightgray;
}

form input::-ms-input-placeholder, form button::-ms-input-placeholder {
  color: lightgray;
}

form input::placeholder, form button::placeholder {
  color: lightgray;
}

form button {
  color: black;
  background: white;
  cursor: pointer;
  outline: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

form button:hover {
  background: black;
  color: white;
}

form select {
  cursor: pointer;
  padding: 1rem .5rem;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  border: none;
  color: black;
  width: 10rem;
  font-size: 1rem;
  font-weight: 700;
}

form select option {
  font-size: 1rem;
  font-weight: 700;
}

form .select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
  border: solid 2px white;
}

form .select::after {
  content: "\25BC";
  font-size: 1rem;
  position: absolute;
  color: white;
  background: black;
  top: 0;
  right: 0;
  padding: 0.8rem;
  pointer-events: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

form .select:hover::after {
  background: white;
  color: black;
}

.todo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2vh;
}

.todo-container .todo-list {
  min-width: 30%;
  max-width: 70%;
  list-style: none;
}

.todo-container .todo-list .todo {
  margin: 0.5rem;
  background: white;
  color: black;
  font-size: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.todo-container .todo-list .todo .todo-item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0rem 0.5rem;
}

.todo-container .todo-list .todo .complete-btn, .todo-container .todo-list .todo .trash-btn {
  background: black;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
  outline: none;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.todo-container .todo-list .todo .trash-btn {
  background: #1ed81e;
}

.todo-container .todo-list .todo .fa-trash, .todo-container .todo-list .todo .fa-check {
  pointer-events: none;
}

.todo-container .todo-list .completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.todo-container .todo-list .fall {
  -webkit-transform: translateY(8rem) rotateZ(20deg);
          transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}

@media screen and (max-width: 768px) {
  header {
    font-size: 1.3rem;
    margin-top: 0.6rem;
  }
  header .fa-check-double {
    font-size: 28px;
  }
  form input, form button {
    font-size: 1rem;
    height: 6vh;
    width: 30vw;
  }
  form button {
    width: 2rem;
  }
  form select {
    padding: .5rem .5rem;
    width: 7rem;
    height: 6vh;
    font-size: .6rem;
  }
  form .select {
    margin: 1rem;
    position: relative;
    overflow: hidden;
    width: 20vw;
  }
  form .select::after {
    font-size: .6rem;
    padding: 0.8rem;
  }
  .todo-container {
    margin-top: 2vh;
  }
  .todo-container .todo-list {
    min-width: 65%;
    max-width: 80%;
    list-style: none;
  }
  .todo-container .todo-list .todo {
    margin: 0.5rem;
    background: white;
    color: black;
    font-size: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .todo-container .todo-list .todo .todo-item {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 0rem 0.5rem;
  }
  .todo-container .todo-list .todo .complete-btn, .todo-container .todo-list .todo .trash-btn {
    background: black;
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
    outline: none;
  }
  .todo-container .todo-list .todo .trash-btn {
    background: #1ed81e;
  }
  .todo-container .todo-list .todo .fa-trash, .todo-container .todo-list .todo .fa-check {
    pointer-events: none;
  }
  .todo-container .todo-list .completed {
    text-decoration: line-through;
    opacity: 0.5;
  }
  .todo-container .todo-list .fall {
    -webkit-transform: translateY(8rem) rotateZ(20deg);
            transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
  }
}
/*# sourceMappingURL=darkStyle.css.map */