* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
//Colors
$Color1: #7379c5;
$Color2: #2d006b;




@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-image: linear-gradient(110deg, $Color1,$Color2);
    color: white;
    font-family: "Poppins",sans-serif;
    min-height: 100vh;
}

.color {
    
    background: $Color2;
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
    outline: none;
}

header {
    @include flexCenter();
    font-size:  2rem;

    h1{
        font-weight: 400;
        color: white;
    }
    .fa-check-double {
        font-size: 36px;
    }
}

form {

    @include flexCenter();

    input {
        padding: 0.5rem;
        font-size: 2rem;
        height: 8vh;
        border: none;
        background: white;
        outline: none;

        &::placeholder {
            color: lightgray;
        }
    }

    button {
        @extend input;

        color: $Color2;
        background: white;
        cursor: pointer;
        outline: none;
        transition: all 0.3s ease;

        &:hover {
            background: $Color2;
            color: white;
        }
    }
    select {
        cursor: pointer;
        padding: 1rem .5rem;
        appearance: none;
        outline: none;
        border: none;
        color: $Color2;
        width: 10rem;
        font-size: 1rem;
        font-weight: 700;

        option {
            font-size: 1rem;
            font-weight: 700;
        }

    }

    .select {
        margin: 1rem;
        position: relative;
        overflow: hidden;
        border: solid 2px white;
        
        &::after{
            content:"\25BC";
            font-size: 1rem;
            position: absolute;
            color: white;
            background: $Color2;
            top: 0;
            right: 0;
            padding: 0.8rem;
            pointer-events: none;
            transition: all 0.3s ease;
        }
        &:hover::after {
            background: white ;
            color: $Color2 ;
        }
    }


}
.todo-container {

    @include flexCenter();
    margin-top: 2vh;

    .todo-list{
        min-width: 30%;
        max-width: 70%;
        list-style: none;

        .todo{
            margin: 0.5rem;
            background: white;
            color: black;
            font-size: 1.2rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            transition: all 0.5s ease;

            .todo-item {
                flex: 1;
                padding: 0rem 0.5rem;
            }
            .complete-btn {
                background: $Color2;
                color: white;
                border: none;
                padding: 1rem;
                cursor: pointer;
                font-size: 1rem;
                outline: none;
                align-self: flex-start;
            }

            .trash-btn {
                @extend .complete-btn;
                background: rgb(30, 216, 30);
            }

            .fa-trash, .fa-check {
                pointer-events: none;
            }
            
        }
        //animacion al terminar todo
        .completed {
            text-decoration: line-through;
            opacity: 0.5;
        }
        //animacion al eliminar todo
        .fall {
            transform: translateY(8rem) rotateZ(20deg);
            opacity: 0;
        }
    }
}


@media screen and (max-width: 768px){

    header {
        font-size:  1.3rem;
        margin-top: 0.6rem;
    
        .fa-check-double {
            font-size: 28px;
        }
    }

    form {

        input {
            font-size: 1rem;
            height: 6vh;
            width: 30vw;
        }
        button {
            width: 2rem;
        }
        select {
            
            padding: .5rem .5rem;
            width: 7rem;
            height: 6vh;
            font-size: .6rem;
        }
    
        .select {
            margin: 1rem;
            position: relative;
            overflow: hidden;
            width: 20vw;
            
            &::after{
                font-size: .6rem;
                padding: 0.8rem;
            }
        }
    }
    .todo-container {

        margin-top: 2vh;
    
        .todo-list{
            min-width: 65%;
            max-width: 80%;
            list-style: none;
    
            .todo{
                margin: 0.5rem;
                background: white;
                color: black;
                font-size: 1rem;
                display: flex;
                justify-content: space-between;
                align-items: center;
                transition: all 0.5s ease;
    
                .todo-item {
                    flex: 1;
                    padding: 0rem 0.5rem;
                }
                .complete-btn {
                    background: $Color2;
                    color: white;
                    border: none;
                    padding: 1rem;
                    cursor: pointer;
                    font-size: 1rem;
                    outline: none;
                }
    
                .trash-btn {
                    background: rgb(30, 216, 30);
                }
    
                .fa-trash, .fa-check {
                    pointer-events: none;
                }
                
            }
            //animacion al terminar todo
            .completed {
                text-decoration: line-through;
                opacity: 0.5;
            }
            //animacion al eliminar todo
            .fall {
                transform: translateY(8rem) rotateZ(20deg);
                opacity: 0;
            }
        }
    }

}

